<div class="mt-2">
  <%= form_with(url: home_index_path, method: :get, data: { turbo_stream: true, controller: 'auto-submit' }, class: 'col-4') do |f| %>
    <%= f.select :reactor,
                 options_for_select(@reactors.collect { |reactor| [ reactor.name, reactor.id ] },params[:reactor]),
                 {},
                 class: 'form-select',
                 data: { action: 'auto-submit#submit' }
    %>
  <% end %>
</div>

<div id="home-screen">
  <%= render 'home_screen' %>
</div>