<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>DevParaná</span></strong>. Todos os direitos reservados.
  </div>
  <div class="credits">
    Designed by <a href="#">Adrielson da Silva</a>
  </div>
</footer>